
body {
        
      background-color: #137edb;

        #page-table {width: 1040px}    
        #Home {width: 260px}
        #JavaSript {width: 260px}
        #About-Me {width: 260px}
        

}


h1  {
    color: white;
    font-size: 30px;
    font-style: oblique;
}


p   {
    color: white;
}
