
body {
        
      background-color: #137edb;
        
}

        #select-table {width: 1200px;}    
        #Home {width: 300px; text-align:center;}
        #JavaSript {width: 300px; text-align:center;}
        #Apps {width: 300px; text-align:center;}
        #About-Me {width: 300px; text-align:center;}
        #para {width: 1200px; height: 300; text-align: left; color: white; font-size: 45px; font-family: monaco, monospace;}

h1  {
    color: white;
    font-size: 60px;
    text-align: center;
    
}



