
body {
        
      background-color: #137edb;

        #page-table {width: 1040px}    
        #Home {width: 260px}
        #JavaSript {width: 260px}
        #About-Me {width: 260px}
      

}

p   {
    font-family: Monaco, monospace;
    color: #fffff;
}

h   {
    font-size: 30px;
    font-style: oblique;
}
